body, html {
  margin: 0;
  padding: 0; }

div {
  backgroud-color: #f00;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

span {
  color: #f00; }
